@import "settings";
@import "foundation";

.first-col{background-color:skyblue; height:300px;}

.second-col{background-color:skyblue; height:300px;}
.third-col{background-color:skyblue; height:300px;}
p {
    color: white
}

h1 {
    
    color: white
}


.weather-form {
    margin-top: 20px;
}
